<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWNICMXMP5PLGofwjyjeqnNvc7xCwrlE8</string>
	<key>GCM_SENDER_ID</key>
	<string>346394510244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pgmcoeAtt</string>
	<key>PROJECT_ID</key>
	<string>pgmcoeatt</string>
	<key>STORAGE_BUCKET</key>
	<string>pgmcoeatt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346394510244:ios:714cf150ef5900b52ff731</string>
</dict>
</plist>